.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-primary-color {
  color: #5f58e8;
}
.primary-color {
  color: #5f58e8 !important;
}
.add-button {
  color: #5f58e8 !important;
  border-color: #5f58e8 !important;
}
.custom-card {
  border-radius: 25px !important ;
  margin: 0.5em !important;
  min-height: 250px !important;
}
.title {
  text-transform: capitalize;
}
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
